:root{
  --primary-color: rgb(219, 224, 226);
  --secondary-color: azure;
  --header-size: 4rem;
  --font-general-size: 2.5rem;
  --font-size-footer: 1.2rem;
  --height-navs: 7vh;
  --font-style: 'Andika', sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
  font-family: var(--font-style);
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
}

body {
  background:
  linear-gradient(
        110deg,
        hsl(204.38, 34.78%, 18.04%) 0%,
        hsl(207.73, 36.72%, 18.92%) 12.1%,
        hsl(210.93, 38.77%, 19.98%) 21.8%,
        hsl(213.73, 40.74%, 21.16%) 29.5%,
        hsl(216.1, 42.54%, 22.4%) 35.6%,
        hsl(218.07, 44.15%, 23.68%) 40.4%,
        hsl(219.69, 45.55%, 24.96%) 44.3%,
        hsl(221.02, 46.76%, 26.23%) 47.6%,
        hsl(222.12, 47.79%, 27.47%) 50.9%,
        hsl(223.03, 48.68%, 28.66%) 54.3%,
        hsl(223.79, 49.43%, 29.78%) 58.3%,
        hsl(224.42, 50.07%, 30.83%) 63.3%,
        hsl(224.94, 50.61%, 31.8%) 69.5%,
        hsl(225.37, 51.06%, 32.68%) 77.5%,
        hsl(225.72, 51.43%, 33.45%) 87.5%,
        hsl(226, 51.72%, 34.12%) 100%
      );
};

h1{
  color: var(--primary-color);
  padding: 3%;
  margin: 3%;
}

h1 {
  padding-top: var(--header-size);
  min-height: var(--height-navs);
  color: var(--primary-color);
  font-size: var(--header-size);
  text-align: center;
}

p {
  font-size: var(--font-general-size);
  text-align: center;
  color: var(--secondary-color);
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:auto;
  margin-top: 3vh;
}

.quote__container{
  min-width: 350px;
  max-width: 48%;
  min-height: 40vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container__paragraph {
  align-self: center;
  min-height: 25vh;
  max-height: 25vh;
}

.container__paragraph p{
  font-size: var(--font-general-size);
  margin: 2rem auto 2rem auto;
}

.container__button {
  min-height: 10vh;
  max-height: auto;
  font-size: var(--font-general-size);
}


.container__img {
  min-width: 350px;
  max-width: 48%;
  min-height: 50vh;
  text-align: center;
}


img {
  max-width: 100%;
  height: auto;
  border-radius: 0 0rem 15rem ;
}


button {
  padding: 6%;
  width: max-content;
  box-shadow: 3px 4px 5px 0px #e7e7e7b9;
  background-color:transparent;
  border-radius:42px;
  border:4px solid var(--secondary-color);
  color: var(--secondary-color);
  cursor:pointer;
  font:var(--font-general);
  box-shadow: none;
  }

  button:hover {
    border:4px solid #6ff976b9;
    color: #6ff976b9;
  }

  button:active {
    position:relative;
    top:2px;
    box-shadow: none;
  }

footer{
  margin-bottom: 1vh;
  width: var(--width);
  height: auto;
  padding-top: 5vh;
}

footer p{
  font-size: var(--font-size-footer);
}
